.podcastItem {
    --padding-start: 0;
    --padding-end: 0;
    border-bottom: 1px solid #e6e6e6;
    ion-button{
        color: white;
    }
    .playPodBtn {
        font-size: 20px;
        color: white;
        background-color: red;
        border-radius: 50%;
        padding: 10px;
        margin: 0px 8px;
    }
    .iconCalendar {
        position: relative;
        top:2px;
    }
    .desc {
        color: #151515;
    }
    .playerBtnSingle {
        margin: 0px 8px;
        color: white;
    }
}

.fecha {
    font-size: 11px;
    font-weight: bold;
}

.desc, .invitados {
    font-size: 13px;
    line-height: 1;
}

.down-icon {
    position: relative;
    top: 2px;
}

.download-link {
    text-decoration: none;
    background-color: lightgray;
    font-size: 0.7rem;
    padding: 3px 7px;
    border-radius: 0px;
    font-weight: bold;
    display: inline-block;
    border-radius: 8px;
}